version: "3.9"
services:
  postgres:
    image: postgis/postgis:17-3.5-alpine
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:5050"
      - "7070:7070"
      - "8080:8080"
      - "9090:9090"
    environment:
      - DB_SOURCE=postgresql://root:secret@postgres:5432/app?sslmode=disable
      - REDIS_ADDRESS=redis:6379
    depends_on:
      - postgres
      - redis
    entrypoint:
      [
        "/app/scripts/wait-for.sh",
        "postgres:5432",
        "--",
        "/app/scripts/start.sh",
      ]
    command: ["/app/main"]
volumes:
  pgdata:
